.tasks {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}

.task-info {
    width: 80%;
    font-size: 20px;
    margin-right: 20px;
    word-break: break-word;
}

.button-delete {
    height: 50px;
    border: 1px solid transparent;
    margin: 10px 5px;
}

.delete {
    background: transparent;
    border: none;
}

.delete-icon {
    width: 40px;
    height: 40px;
}

.delete-icon:hover {
    width: 50px;
    height: 50px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

